<% if (locals.user) { %>
  <p>You are already logged in. <a href="/submit_homework">Submit Homework</a></p>
<% } else { %>
  <!-- Existing content -->
<% } %>
<h1>Welcome to Homework Submission</h1>
<a href="/register">Register</a>
<a href="/login">Login</a>
