<% if (locals.user) { %>
  <p>You are already logged in. <a href="/submit_homework">Submit Homework</a></p>
<% } else { %>
  <!-- Existing content -->
<% } %>
<h1>Login</h1>
<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
